.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.header h1 {
  position: relative;
  top: 100px;
  left: 100px;
}

body {
   text-align:center;
}
#centeredpage {
   width:922px;
   margin:0 auto;
   text-align:left;
   position:relative;
}
#logo {
   position:absolute;
   top:0;
   left:-10px;
}
