.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.header h1 {
  position: relative;
  top: 360px;
  left: 200px;
}

.header img {
  float:inherit;
  width: 1000px;
  hieght: 1000px;
  background:
}
