.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.header h1 {
  position: relative;
  top: 100px;
  left: 100px;
}

.header img {
  float:inherit;
  width: 18px;
  hieght: 10px;
  background:
}
